:root {
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*elementos base*/
body {
  background: var(--preta);
  font-family: "Arial", Times, serif;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/capa-house.png") no-repeat top;
  background-size: 100% 40%;
  background-color: #141414;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: "Arial Black", Times;
  font-size: 40px;
  margin: 20px 0;
}

header nav a {
  text-decoration: none;
  color: rgb(232, 232, 232);
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

.container-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.nav-icons {
  margin-right: 15px;
}

.nav-icons img {
  max-width: 27px;
  border-radius: 5px;
  margin-right: -10px;
}
.nav-icons i {
  font-size: 20px;
  margin-left: 5px;
}
/*filme principal*/
.filme-principal {
  font-size: 18px;

  height: 500px;
  background-size: cover;
  background-position: center;
  margin-block-end: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-bottom: 40px;
  margin-top: 5%;
  letter-spacing: 1px;
  line-height: 25px;
}

.titulo {
  font-size: 40px;
  margin-top: 15%;
}

.botao button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease-out;
  margin-left: 13px;
}
.botao button:hover {
  background-color: white;
  color: black;
}

.botao i {
  margin: 0 8px;
}

.container {
  margin-left: 30px;
}

.filme-principal .container {
  width: 70%;
}

.carrousel-filmes {
  margin-top: 10px;
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
  margin-block-end: 5px;
  border-radius: 10px;
}
.carrousel-filmes img {
  border: 1px solid transparent;
  border-radius: 10px;
}
.carrousel-filmes p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: justify;
  font-size: 20px;
}

#icon-bell {
  font-size: 12px;
}

/*Footer*/

footer .container {
  width: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteudo-footer {
  text-align: center;
  margin: 10px 0;
}
.conteudo-footer h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
}
.conteudo-footer i {
  margin: 15px 0;
  color: white;
}
